* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.money-img {
  width: 50%;
  height: auto;
}

.container {
  min-height: 100vh;
  max-width: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
}

body,
html {
  text-align: center;
  padding: 30px 20px;
}
